section#section2{
    width: 100%;
    background: linear-gradient(280deg, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 85%, rgb(91, 73, 143) 120%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-block: 100px;
    padding-inline: 10%;
    gap: 40px;
    color: var(--neutral-white);
    text-align: center;

    & .titulo{
        display: flex;
        gap: 20px;
        align-items: center;

        & .text{
            border-radius: 30px;
            border: 2px solid var(--primary-light);
            padding: 5px 20px;
            color: var(--neutral-white);
        }
    }

    & h1{
        font-size: 40px;
    }

    & h3{
        color: rgba(234, 234, 234, 0.4);
        font-weight: 400;
        max-width: 90%;
        text-align: center;
    }

    & #cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 90vw;
        height: fit-content ;
        gap: 56px;

        & .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: red;
            justify-content: center;
            border-radius: 15px;
            text-align: center;
            background-color: var(--secondary-main);
            border: 1px solid var(--primary-light);
            box-shadow: 0 0 10px 0px var(--primary-light);
            gap: 18px;
            transition: .5s;
            padding: 10px;

            &:hover{
                transform: scale(1.02);
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    section#section2{
        padding-inline: 2%;

        & #cards{
            grid-template-columns: 1fr !important;
        }
    }

}

@media screen and (max-width: 400px) {
    section#section2{
        & .titulo{
            display: none;
        }
    }
}