.registro {
    margin-top: -80px;
    height: 100vh;
    width: 100%;
    background: linear-gradient(234deg, rgba(41, 41, 41, 1) 0%, rgba(41, 41, 41, 1) 85%, rgb(91, 73, 143) 120%);
    display: flex;
    flex-direction: row-reverse;
    & .esquerda,
    .direita {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .esquerda {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("./img/imagem.png");
        background-size: cover;
        margin: 35px;
        border-radius: 20px;
        gap: 20px;
        padding: 10px;

        & a{
            position: fixed;
            top: 20px;
            left: 20px;

            & button{
                min-width: 0;
                font-size: 1.2rem;
            }
        }

        & img{
            width: 200px;
        }

        & h1{
            color: var(--neutral-white);
            font-weight: 200;
            max-width: 90%;
            text-align: center;
        }

        & .social{
            display: flex;
            gap: 30px;
            align-items: center;

            & i{
                color: var(--neutral-white);
                font-size: 2rem;
                opacity: 0.5;
            }
        }

    }



    & .direita {
        & form {
            box-sizing: border-box;
            width: 70%;
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 50px;

            & a {
                color: var(--primary-light);
            }

            & p,
            label {
                color: var(--neutral-text);
                font-size: 1.2rem;
            }

            & input[type="text"],
            input[type="email"],
            input[type="password"] {
                background-color: var(--secondary-main);
                border: none;
                font-size: 18px;
                padding: 20px 15px;
                border-radius: 10px;
                outline: none;
                width: 100%;
                color: var(--neutral-text);
            }

            & input[type="text"]:focus,
            input[type="email"]:focus,
            input[type="password"]:focus {
                box-shadow: 0px 0px 10px 0px var(--primary-light);
            }

            input[type="checkbox"] {
                appearance: none;
                height: 24px;
                width: 24px;
                border-radius: 50%;
                border: 2px solid var(--primary-light);
                background-color: transparent;
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.2s;
            }
            
            input[type="checkbox"]:checked {
                background-color: var(--primary-light);
                border-color: var(--primary-dark);
            }

            & button {
                height: 60px;
                background-color: var(--primary-main);
                padding: 5px 10px;
                min-width: 140px;
                border-radius: 5px;
                color: var(--neutral-white);
                text-decoration: none;
                border: none;
                transition: .3s;
                font-size: 16px;
            }


            & button:hover {
                transform: scale(1);
                background-color: var(--neutral-white);
                color: var(--primary-light);
                box-shadow: 0 0 5px 0px var(--primary-light);
                font-weight: 700;
            }

            & .titulo {
                & h1 {
                    color: var(--neutral-white);
                    font-size: 2rem;
                }

            }

            & .campos {
                display: flex;
                flex-direction: column;
                gap: 30px;
                justify-content: center;

                & .campo {
                    display: flex;
                    gap: 30px;
                }
            }

        }
    }
}

@media screen and (max-width: 1400px) {
    .esquerda{
        width: 30% !important;
        & h1, .social{
            display: none !important;
        }
    }
    .direita{
        width: 70% !important;
    }
}

@media screen and (max-width: 900px) {
    .registro{
        margin-top: -90px;
        flex-direction: column;
        height: 100% !important;
        padding-bottom: 50px;

        & .direita, .esquerda{
            width: 100vw !important;
        }

        & .esquerda {
            margin: 0px 0px 50px 0px!important;
            display: flex;         
            & img{
                background: none;
            }
        }
    }

}

@media screen and (max-width: 500px) {
    & .campo {
        flex-direction: column;
        gap: 30px;
    }
}
