.btn_whatsapp{
    position: fixed;
    right: 20px;
    bottom: 20px;

    & img{
        width: 80px;
        height: 80px;
        transition: .3s;
        &:hover{
            transform: scale(1.05);
            cursor: url('./src/assets/images/cursor-pointer.cur') 14 0, pointer;
        }
    }
}